
body{
	font-size:16px;
	padding:20px 0;
}
h1{
	font-size:25px;
	font-weight:400;
}
em{
	font-style:normal;
	color:skyblue;
}
p{
	line-height:26px;
	text-indent:2em;
}
a{
	text-decoration:none;
}
.time{
	color:#ccc;
}
.text{
	color:#900;
	text-decoration:underline;
}
.search{
	color:red;
}
.btn{
	color:green;
	font-weight:700;
}
.tab{
	text-align:center;
}